<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Publicaciones</title>
  </head>
  <body>
    {% extends "AerApp/base.html" %}

    {% load static %}

    {% block content %}

      {% for post in posts %}


      <section class="page-section clearfix">
       <div class="container">
         <div class="intro">
           <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="">
           <div class="intro-text left-0 text-center bg-faded p-5 rounded">
             <h2 class="section-heading mb-4" >
               <span class="section-heading-lower">{{post.titulo}}</span>
               <span class="section-heading-upper">{{post.contenido}}</span>
             </h2>

             <div style="text-align: left; font-size: 0.8em"  class="">
               Autor: {{post.autor}} <br>
               Categoria:
               {% for categoria in post.categorias.all %}
                <a href="{% url 'categoria' categoria.id %}" class="linksCategorias"> {{categoria.nombre}} </a>
               {% endfor %}
 <br>
               Fecha: {{post.creado}} <br>

             </div>


           </div>
         </div>
       </div>
     </section>

      {% endfor %}

      <section>
        <div style="width: 75%; margin: auto; text-align: center; color: white" class="">
          Categorias:

          {% for post in posts %}

            {% for categoria in post.categorias.all %}

              <a href="{% url 'categoria' categoria.id %}" class="linksCategorias"> {{categoria.nombre}} </a> &nbsp;&nbsp;&nbsp;

            {% endfor %}

          {% endfor %}
        </div>
      </section>


    {% endblock %}
  </body>
</html>
