<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Publicaciones</title>
  </head>
  <body>
    {% extends "AerApp/base.html" %}

    {% load static %}

    {% block content %}

      {% for publicacion in publicaciones %}
      <div class="">
        <p>
          <h2 style="color: white;">{{publicacion.titulo}}</h2>
          <p style="color: white;">{{publicacion.contenido}}</p>
          <p><img src="{{publicacion.imagen.url}}" alt=""> </p>
        </p>
      </div>
      {% endfor %}
    {% endblock %}
  </body>
</html>
